@using Microsoft.AspNetCore.Components
@model GoldRate.Models.mUaeHome

@{
    ViewData["Title"] = "UAE Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="mt-5">UAE Gold Rates (AED)</h3>

<p class="lead">Update On [ UAE Time <code>@DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString()  </code>] [ UTC Time <code>  @DateTime.UtcNow]</code>.</p>
<p>Source: Dubai Gold & Jewelery Group.</p>
<div class="row">
    <div class="col-xl-2 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">OUNCE</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.GoldPriceOz)<span></span>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card bg-danger     text-white mb-4">
            <div class="card-body">24 Carat</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.GoldPrice24) <span>(g)</span>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">22 Carat</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.GoldPrice22)<span>(g)</span>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body">21 Carat</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.GoldPrice21)<span>(g)</span>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">18 Carat</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.GoldPrice18)<span>(g)</span>
            </div>
        </div>
    </div>
</div>
<hr />
<div id="app" class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card bg-light text-dark mb-4">
            <div class="row m-2">
                <div class="col-xl-3 col-md-6 ">
                    <div class="form-group">
                        <label for="GoldValue">Enter Gold Weight</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">g</span>
                            </div>
                            <input type="number" name="GoldWeight" class="form-control text-info"
                                   id="GoldWeight" placeholder="Enter Gold Weight (gram)" v-model="GoldWeight" maxlength="3"
                                   :min="1" :max="3000" onKeyPress="if(this.value.length>3    ) return false;">
                        </div>


                    </div>

                </div>
            </div>
            <div class="row m-2">
                <div class="col-xl-3 col-md-6">


                    <div class="form-group">
                        <label for="GoldValue">
                            Price For {{ GoldWeight }}  Gram 24 Carat Gold &#64;&nbsp;AED&nbsp; @Html.DisplayFor(model => model.GoldPrice24)
                        </label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="GoldValue" class="form-control text-black bg-white font-weight-bold" id="GoldValue" placeholder="000.000" v-model="GoldPrice24" readonly>
                        </div>


                    </div>

                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group">
                        <label for="GoldValue">  Price For {{ GoldWeight }}  Gram 22 Carat Gold &#64;&nbsp;AED&nbsp;@Html.DisplayFor(model => model.GoldPrice22)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="GoldValue" class="form-control text-black bg-white font-weight-bold" id="GoldValue" placeholder="000.000" v-model="GoldPrice22" readonly>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group">
                        <label for="GoldValue"> Price For {{ GoldWeight }}  Gram 21 Carat Gold &#64;&nbsp;AED&nbsp;@Html.DisplayFor(model => model.GoldPrice21)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="GoldValue" class="form-control text-black bg-white font-weight-bold" id="GoldValue" placeholder="000.000" v-model="GoldPrice21" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group">
                        <label for="GoldValue"> Price For {{ GoldWeight }}  Gram 18 Carat Gold &#64;&nbsp;AED&nbsp;@Html.DisplayFor(model => model.GoldPrice18)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="GoldValue" class="form-control text-black bg-white font-weight-bold" id="GoldValue" placeholder="000.000" v-model="GoldPrice18" readonly>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<h3 class="mt-5">UAE Fuel Price (AED)</h3>
<h5>Month :<span class="font-weight-bold"> @DateTime.Now.ToString("MMMM-yyyy")</span></h5>
<p class="small">Prices in AED per liter (inclusive of VAT)</p>
<p>Source: ADNOC.</p>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body"><i class="fas fa-gas-pump"></i> E-Plus 91</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.EPlus91)
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success     text-white mb-4">
            <div class="card-body"><i class="fas fa-gas-pump"></i> Special 95</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.Special95)
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
            <div class="card-body"><i class="fas fa-gas-pump"></i> Super 98</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.Super98)
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body"><i class="fas fa-gas-pump"></i> Diesel</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                AED    @Html.DisplayFor(model => model.Diesel)
            </div>
        </div>
    </div>

</div>
<hr />
<div id="app2" class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card bg-secondary text-light mb-4">
            <div class="row m-2">
                <div class="col-xl-3 col-md-6 ">
                    <div class="form-group">
                        <label for="FuelValue">Enter Fuel Liter</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">Ltr</span>
                            </div>
                            <input type="number" name="FuelValue" class="form-control text-info"
                                   id="FuelValue" placeholder="Enter Fuel Liter" v-model="FuelValue" maxlength="3"
                                   :min="1" :max="3000" onKeyPress="if(this.value.length>3    ) return false;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-xl-3 col-md-6">


                    <div class="form-group">
                        <label for="GoldValue">
                            Price For {{ FuelValue }}  liter E-Plus 91 <br />&#64;&nbsp;AED&nbsp; @Html.DisplayFor(model => model.EPlus91)
                        </label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="EPlus91" class="form-control text-black bg-white font-weight-bold" id="EPlus91" placeholder="000.000" v-model="EPlus91" readonly>
                        </div>


                    </div>

                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group">
                        <label for="GoldValue">  Price For {{ FuelValue }}  liter Special 95<br />&#64;&nbsp;AED&nbsp;@Html.DisplayFor(model => model.Special95)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="Special95" class="form-control text-black bg-white font-weight-bold" id="Special95" placeholder="000.000" v-model="Special95" readonly>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group">
                        <label for="GoldValue"> Price For {{ FuelValue }} liter Super 98 <br />&#64;&nbsp;AED&nbsp;@Html.DisplayFor(model => model.Super98)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="Super98" class="form-control text-black bg-white font-weight-bold" id="Super98" placeholder="000.000" v-model="Super98" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="form-group">
                        <label for="GoldValue"> Price For {{ FuelValue }} liter Diesel<br /> &#64;&nbsp;AED&nbsp;@Html.DisplayFor(model => model.Diesel)</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text-danger font-weight-bold">AED</span>
                            </div>
                            <input type="number" name="Diesel" class="form-control text-black bg-white font-weight-bold" id="Diesel" placeholder="000.000" v-model="Diesel" readonly>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vueApp = new Vue({
        el: '#app',
        data: {
            GoldWeight: 1
        },
        computed: {
            GoldPrice24:  function () {
                return (this.GoldWeight * @Html.DisplayFor(m=> m.GoldPrice24)).toFixed(2);
            },
            GoldPrice22: function () {
                return (this.GoldWeight * @Html.DisplayFor(m=> m.GoldPrice22)).toFixed(2);
            },
            GoldPrice21: function () {
                return (this.GoldWeight * @Html.DisplayFor(m=> m.GoldPrice21)).toFixed(2);
            },
            GoldPrice18: function () {
                return (this.GoldWeight * @Html.DisplayFor(m=> m.GoldPrice18)).toFixed(2);
            }
        }
    });
    var vueApp = new Vue({
        el: '#app2',
        data: {

            FuelValue:1

        },
        computed: {

            EPlus91:  function () {
                return (this.FuelValue * @Html.DisplayFor(m=> m.EPlus91)).toFixed(2);
            },
            Special95: function () {
                return (this.FuelValue * @Html.DisplayFor(m=> m.Special95)).toFixed(2);
            },
            Super98: function () {
                return (this.FuelValue * @Html.DisplayFor(m=> m.Super98)).toFixed(2);
            },
            Diesel: function () {
                return (this.FuelValue * @Html.DisplayFor(m=> m.Diesel)).toFixed(2);
            },
        }

    });
</script>

@*<h1>UaeHome</h1>


    <div>
        <h4>mUaeHome</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.iID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.iID)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GoldPriceOz)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GoldPriceOz)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GoldPrice24)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GoldPrice24)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GoldPrice22)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GoldPrice22)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GoldPrice21)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GoldPrice21)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GoldPrice18)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GoldPrice18)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GoldPriceUpdate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GoldPriceUpdate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Super98)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Super98)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Special95)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Special95)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EPlus91)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EPlus91)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Diesel)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Diesel)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
